.profile-field {
    width: 3rem;
    text-align: center;
    background-color: rgba($color: #ffffff, $alpha: 0);
}

.profile-select:enabled {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.325rem;
    margin-left: 0.325rem;
}

.dark .profile-select:enabled {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.325rem;
    margin-left: 0.325rem;
    background-color: rgba(70, 70, 70, 0.3);
}

.profile-field:enabled {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.325rem;
    margin-left: 0.325rem;
}

.dark .profile-field:enabled {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.325rem;
    margin-left: 0.325rem;
    background-color: rgba(70, 70, 70, 0.3);
}

.auth-field {
    background-color: #F9FAFB;
    border-width: 2px;
    border-color: #9CA3AF;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.auth-field:focus {
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
}

.dark .auth-field {
    background-color: #374151;
    border-color: #4B5563;
    color: #FFFFFF;
}

.dark .auth-field::placeholder {
    color: #9CA3AF;
}

.dark .auth-field:focus {
    border-color: #3B82F6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.profile-button-edit {
    border-radius: 0.5rem;
    font-weight: 600;
    background: #8B8C89;
    color: black;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dark .profile-button-edit {
    border-radius: 0.5rem;
    font-weight: 600;
    background: #454644;
    color: whitesmoke;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.profile-button-confirm {
    border-radius: 0.5rem;
    font-weight: 600;
    background: #274C77;
    color: whitesmoke;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}

.dark .profile-button-confirm {
    border-radius: 0.5rem;
    font-weight: 600;
    background: #13263C;
    color: whitesmoke;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}